.header{
    height: 120px;
    background-image:linear-gradient(0,#fe6433,#f53e2d) ;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    padding-left: 0;
    list-style: none;
    margin-top: 4px 0 0 0 ;
    /* display: flex; */
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item,.header__navbar-item-link{
    
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 350;
}
.header__navbar-item:hover,.header__navbar-item-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-item--bold{
    font-weight: 500;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position:absolute;
    background-color: #fb9086;
    width: 1px;
    height: 12px;
    right: -9px;
    top: 3px;
}
.header__navbar-icon-link{
    color: #fff;
    text-decoration: none;
    margin: 0 3px;
}
.header__navbar-icon-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-icon{
    font-size: 1.8rem;
}
.header__navbar-title--nopointer{
    cursor: text;
    color: #fff;
}
/* header qr */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position:absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    display: none;
    animation: FadeIn ease-in 0.5s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.header__qr::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
}
.header__qr-img{
    width: 100%;

}
.header__qr-apps{
    display: flex;
    justify-content: space-between;

}
.header__qr-download-img{
    height: 16px;
}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
.header__navbar-item--displayqr:hover .header__qr{
    display: block;
}
/* header-notification */
.header__notify{
    position: absolute;
    top: 130%;
    right: 0;
    width: 404px;
    background-color: #fff;
    border: 1px solid #D3D3D3;
    display: none;
    animation: FadeIn ease-in 0.3s;
    cursor: default;
    z-index: 1;
}
.header__notify::before{
    content: "";
    border: 22px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position:absolute;
    right: 2px;
    top: -30px;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 40px;
}
.header__notify--display:hover .header__notify{
    display: block;
}
.header__notify-header{
    height: 40px;
    background-color: #fff;
}
.header__notify-header h3{
    color: #aaa;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__notify--display:hover .header__notify{
    display: block;
}
.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
    background-color: rgba(238,75,43,0.09);

}
.header__notify-item:hover{
    background-color: #f1f1f1;
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    color: #000;
    font-size: 1.4rem;
    font-weight: 350;
}

.header__notify-desc{
    display: block;
    color: #756f6e;
    font-size: 1.2rem;
    line-height: 1.4;
}
.header__notify-view-all{
    display: flex;
}
.header__notify-view-btn{
    text-decoration: none;
    color: #000;
    padding: 6px 0;
    margin: auto;
    width: 100%;
    text-align: center;
}
/*user-form*/

.user-form{
    width: 500px;
    background-color: var(--white-color);
    overflow: hidden;
}
.user-form__container{
    padding: 0 32px;
}
.user-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.user-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 450;
    color: var(--primary-color);
}
.user-form__form{

}
.user-form__group{

}
.user-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}
.user-form__input:focus{
    border-color: #888;
}
.user-form__aside{

}
.user-form__policy{
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 0 12px;
}
.user-form__policy-link{
    text-decoration: none;
    color: var(--primary-color);
}
.user-form__control{
    margin-top: 90px;
    display: flex;
    justify-content: flex-end;
}
.btn--back{
    margin-right: 8px;
}
.user-form__socials{
    color: #f5f5f5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    background-color: 	#DCDCDC;
    margin-top: 28px;
}
.user-form__socials--fb
.user-form__socials-icon{
    color: #fff;
    margin: 0 8px;
}
.user-form__socials--gg{
    background-color: var(--white-color);

}
.user-form__socials--gg
.user-form__socials-icon{
    margin: 0 8px;
    
}
.user-form__socials-icon{
    font-size: 1.6rem;
    margin-right: 16px;
}
.user-form__help{
    display: flex;
    justify-content: flex-end;
}
.user-form__help-link{
    font-size: 1.4rem;
    margin: 16px 0;
    text-decoration: none;
    color: #000;
}
.user-form__help--separate{
    display: block;
    border-left: 1px solid var(--boder-color);
    height: 20px;
    margin:16px 16px;
}
.user-form__help-foget{
    color: var(--primary-color);
}
/* header-with-search */
.headder-with-search{
    height: 79px;
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__logo{
    width: 200px;
}
.header__logo-img{
    width: 150px;
}
.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex:1;
    display: flex;
    align-items: center;
}
.header__cart{
    width: 200px;
    display: flex;
    position: relative;
}
.header__cart-icon{
    font-size: 2.6rem;
    color: #fff;
    margin: auto;
    margin-top: 2px;
    cursor: pointer;
}
.header__cart:hover .header__cart-list{
    display: block;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    top: -24px;
    right: 8px;
    border-width: 12px;
    border-style: solid;
    border-color:transparent transparent #fff transparent;
}

.header__cart-list{
    position: absolute;
    top: 40px;
    right: 76px;
    width: 380px;
    border-radius: 2px;
    box-shadow: 0 2px 10px 1px #ccc;
    background-color: #fff;
    display: none;
    animation: FadeIn ease 0.3s;
    z-index: 1;
}
.header__cart--no-cart-img{
    width: 90%;
    margin: 0 20px;
}

.header__search-input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0 16px 0 8px;
    color: var(--text-color);
    border-radius: 3px;
}
.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.6rem;
    color: #666;
    margin: 0 16px;
    position: relative;
    top: 2px;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    width: 60px;
    height: 34px;
    margin-right: 3px;
    outline: none;
    border-radius: 3px;
}
.header__search-btn:hover{
    cursor: pointer;
    background-color: #f5694d;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: #fff;
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-option{
    position: absolute;
    right:0;
    top: 110%;
    width: 132px;
    list-style-type: none;
    padding-left: 0;
    box-shadow: 0 0 3px #ccc ;
    border-radius: 3px;
    /* overflow: hidden; */
    display: none;
    animation: FadeIn ease 0.1s;
    z-index: 1;

}
.header__search-option::after{
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    /* background-color: var(--primary-color); */
}
.header__search-option-item{
    background-color: #fff;
    border-radius: 3px;
    padding: 8px 8px;
    text-align: right;

}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span{
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
}
/* search history */
.header__search-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-history{
    position: absolute;
    left: 0;
    width: 100%;
    top: 105%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px #666;
    overflow: hidden;
    display: none;
    z-index: 1;
  
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color:#666;
    font-weight: 400;
}
.header__search-history-list{
    list-style-type: none;
    padding-left: 0;
    margin: 8px 0 0 ;
}
.header__search-history-item{
    height: 36px;
    font-size: 1.3rem;
    padding: 0 12px;
}
/* .header__search-history-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; 
} */
.header__search-history-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    line-height: 36px;
}
/* container */
.app_container{
    background-color: #f5f5f5;
}
.app_content{
    padding-top: 24px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    margin-top: 0;

}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category-list{
    padding-left: 0;
    padding-bottom: 8px;
    margin-left: 9px;
}
.category-item{
    list-style-type: none;

}
.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item--active .category-item__link::before{
    position: absolute;
    border: 4px solid;
    content: "";
    border-color: transparent transparent transparent var(--primary-color);
    top: 35%;
    left: 8px;
}
.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}
.category-item__link:hover{
    color: var(--primary-color);
    right: -4px;
}
.select-price{
}
/* home short filter */
.home-filter{
    display: flex;
    background-color: rgba(0,0,0,0.07);
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter_btn{
  
}
.home-filter-page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter-page-num{
    font-size: 1.5rem;
    margin-right: 20px;
    color: var(--text-color);
}
.home-filter-page-num-current{
    color: var(--primary-color);
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}
.home-filter-page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter-page-btn{
    flex: 1;
    background-color: #fff;
    display: flex;
    text-decoration: none;
}
.home-filter-page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter-page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.page-icon-disable{
    background-color:#f9f9f9;
    cursor: default;
}
.page-icon-disable .home-filter-page-icon{
    color: #ccc;
}
/* product item  */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    background-color: #fff;
    margin-top: 12px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    will-change: transform ;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0,0,0,0.05);
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;

}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--text-color);
    margin: 8px 8px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item__price{
    display: flex;
    margin-left: 8px;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item__price-sales{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 6px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 8px 8px 0;
}
.home-product-item__like{
    font-size: 1.3rem;
    cursor: pointer;
}
i.home-product-item__like-icon-fill{
    display: none;
    color: var(--primary-color);
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 0.8rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}
.home-product-item__star--gold{
    color: var(--star-gold-color);
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 8px 0 ;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 400;

}
.home-product-item__origin-sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin-source{
}
.home-product-item__favorite{
    position: absolute;
    top: 6px;
    left: -4px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 2px 2px 2px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favorite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid var(--primary-color);
    border-left: 4px solid transparent ;
    filter: brightness(70%);
}
.home-product-item__favorite i{
    font-size: 0.9rem;
    margin: 0 2px 0 4px;
}
.home-product-item__sales-off{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255,216,64,0.8);
    width: 40px;
    height: 36px;
    text-align: center;

}
.home-product-item__sales-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgb(255,216,64,0.8) transparent rgb(255,216,64,0.8);
}
.home-product-item__sales-off-percent{
    color: #ee4d2d;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.home-product-item__sales-off-label{
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 450;
    color: #fff;
}


